body,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-size:13px;font-family:Microsoft Yahei;background: #3a3838;-webkit-text-size-adjust:100%;}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.main{width:980px;margin: 50px auto;padding: 20px;background: #fff;border-radius: 5px;}
.header{height:63px;margin:0 auto;padding-bottom: 20px;}
.logo{float:left;/* width:270px; */height:64px;line-height:64px;font-size:2.6em;font-weight;/* font-style:italic; */talic;color: #068a16;}
.logo span{font-size:0.5em;color:#ff0000}
.step{width:450px;float:right;height:50px;position:relative;margin-top:15px}
.step .line{width:450px;height:3px;background: #eeffe4;position:absolute;left:0;top:13px;z-index:9;}
.step .step_num{width:450px;height:50px;position:absolute;left:0;top:0;z-index:10;margin:0;padding:0;list-style:none}
.step .step_num li{width:100px;float:left;list-style:none}
.step .step_num li .num{height:28px;width:28px;background: #eeffe4;border-radius:14px;text-align:center;line-height:28px;color:#333;margin:0 auto;display:block;}
.step .step_num li .name{display:block;text-align:center;padding:5px 0 0;font-size:12px;color:#333}
.step .step_num .current .num{background: #0faf22;color:#fff;}
.step .step_num .current .name{color: #0faf22;}
.agreement{background:#fdfdfd;margin:0 auto;/* height:400px; *//* overflow-x:hidden; *//* overflow-y:scroll; *//* padding:20px; */}
.agreement .txt_box{width:100%;font-size:12px;line-height:22px}
.agreement .txt_box p{margin-bottom:20px}
.agreement textarea{background: #f9eee0;color: #3c3e3c;padding: 15px;font-size:14px;width: 97%;height:500px;font-family:Microsoft Yahei;border: 0;border-radius: 3px;}
.btn_wrap{margin:15px auto ;height:32px;overflow:hidden}
.btn_wrap .choose_check{float:left;line-height:32px}
.btn_wrap .choose_check input{float:left;margin:9px 5px 0 0}
.next_btn{background: #43bb2d;border: 1px solid #44901d;padding:5px 10px;color:#fff;text-align:center;font-size:14px;cursor:pointer;float:right;margin-left:15px;border-radius: 3px;}
.prev_btn{background:#959595;border:1px solid #858585;padding:5px 10px;color:#fff;text-align:center;font-size:14px;cursor:pointer;float:right;margin-left:15px;border-radius: 3px;}
.ok_btn{ background: #43bb2d;border: 1px solid #44901d;height:40px;width:150px;color:#fff;text-align:center;font-size:16px;cursor:pointer;margin-left:15px;border-radius: 3px;}
.footer{padding: 20px 0;border-top: 1px solid #0faf22;text-align:center;font-size:14px;margin:0 auto;color: green;}
.tips_box{/* width:978px; *//* border: 1px solid #fbff00; */margin:0 auto 15px;border-radius: 3px;background: #f9eee0;color: #cc4615;}
.tips_box .tips_title{background:#F5F5F5;height:39px;border-bottom:1px solid #e6e6e6;padding:0 20px;line-height:39px;font-size:16px;color:#03C}
.tips_box .tips_txt{padding:20px;line-height:22px;font-size:14px}
.tablebox{border-collapse:collapse;margin:0 auto 15px;text-align:center}
.tablebox td{border:#e6e6e6 solid 1px;padding:5px;height:30px}
.tablebox .head_bg{background:#F5F5F5;height:38px}
.infor_input{width:250px;height:30px;border-radius: 3px;border:1px solid #cacaca;padding:3px;}
.install_ok{padding: 81px 0;text-align: center;background: #eee;border-radius: 5px;font-size: 18px;}
