body{
	margin: 0px;
}
.main{
	
	border:1px solid #006600;
	width:700px;
	height:620px;
	margin:0px auto;
}
.zhezhao{
	position: fixed;
	left: 0px;
	top: 0px;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}
.tankuang{
	width: auto;
	height: auto;
	background: #fff;
	border-radius: 3px;
	margin: 5% auto;
	text-align: center;
}

#close{
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 20px;
	background: red;
	color: #fff;
	right: 5px;
	top: 5px;
	
}

.left{
float:left;
margin-left:30px;
}
.center{
float:left;
margin-left:40px;
}
.right{
float:left;

margin-left:40px;
}
.head{
height:25px;
text-align:center;

}
.head a{
text-decoration:none;
}