<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="author" content="chinanews" />
<meta name="copyright" content="www.chinanews.com,版权所有memeda" />
<meta name="keywords" content="<蚪侠_随机关键字>" />
<meta name="description" content="<蚪侠_随机描述>" />
<META http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<base target="_blank"/>
<title><蚪侠_随机标题></title>
<link href="//i4.chinanews.com/2012/news/main1.css" rel="stylesheet" type="text/css" />
<style>
.left_ph{ overflow:visible;}
.backpicbox{ position:relative;margin:0 auto; display:block; overflow:visible;}
.backpicbox .backpic{ position:absolute;right:-35px;bottom:45%;width:35px;height:70px;background:#2086d8;font-size:12px;}
.backpictext{width:35px;height:70px;background:url(//www.chinanews.com/fileftp/2015/08/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U412P4T47D33289F968DT20150915144117.jpg) no-repeat;}
.backpictext a{color:#78dfff; cursor:pointer;display:block;width:35px;height:70px;}
</style>
<style type="text/css">
.biaoqian{width:380px;float:left; padding:0px 10px; font-size:13px; text-align:left; color:#333;}
.biaoqian a{cursor:pointer}
.biaoqian a:hover{ color:#F60; font-size: 13px; }
.left-t{width:430px;}
.bshare-custom{width:180px;}

.div624 li {width: 305px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.div624 li a{ line-height:30px;font-size:13px;_font-size:12px;}
.div624 li a:visited{ line-height:30px;font-size:13px;_font-size:12px;}

.padding-left10{ padding-left:10px;}
#zhongwen{ width:600px; margin:0 auto; background:url(//www.chinanews.com/fileftp/2012/05/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U32P4T47D22386F971DT20120529140845.jpg) no-repeat top #2c81b7; position:relative;  padding: 10px;float:right;right:2%; display: none; }

#zhongwen h3{ line-height:30px; font-size:16px; font-weight:700; color: #fff5bc; font-family: Georgia, "Times New Roman", Times, serif; }

#zhongwen p{ text-indent:24px; padding:0px; margin:0px; color:#fff; font-family:Verdana, Geneva, sans-serif; font-size: 14px; }

#zhongwen p a { text-indent:24px; color:#fff}
.wypl_list_n {overflow:hidden}
#function_code_page a:hover {  text-decoration:none; border:1px #f7f7f7 solid; background:#c9c9c9; font-weight:700; }
#function_code_page a:link { color:#666; text-decoration:none; border:1px #7f7f7f solid; }

</style>
<style>

/**/
.wine_top_b_l{float:left;width:310px;}

	.container{
		height:280px;
		width:310x;
		position:relative;
		overflow:hidden;
		padding:0px;margin:0px;
	}

	.control{
		position:absolute;
		height:9px;

		left: 40%;
		bottom:13px;
		z-index:3;
		background:#fff;
	}

	.info{
		position:absolute;
		text-align:center;
		line-height:35px;

	font-size:19px;
	font-family:宋体;
	color:#fff;
		width:100%;
		 bottom:35px; left:0px;height:35px;line-height:35px;font-weight:bold;z-index:2;cursor:pointer
	}
	.info a{color:#fff; text-decoration:none;line-height:35px;}

.default{width:10px;height:9px;display:block;float:left; text-align:center; overflow:hidden;margin-right:8px;cursor:pointer;background:url(//www.chinanews.com/fileftp/2013/01/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U412P4T47D25071F967DT20130116134331.png) no-repeat;_background:url(//www.chinanews.com/fileftp/2013/01/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U412P4T47D25071F969DT20130116134331.gif) no-repeat;}
.selected_cg{width:10px;height:9px;display:block;float:left; text-align:center; overflow:hidden;margin-right:8px;cursor:pointer;background:url(//www.chinanews.com/fileftp/2013/01/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U412P4T47D25071F968DT20130116134331.png) no-repeat;_background:url(//www.chinanews.com/fileftp/2013/01/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U412P4T47D25071F970DT20130116134331.gif) no-repeat;}
a.white{color:#fff; text-decoration:none;}
a.white:hover{color:#fff; text-decoration:underline;}

.container img{
		height:245px;
		width:310px;

	}
.banner_bg {position:absolute; bottom:35px;background-color:#000;height:35px;filter: Alpha(Opacity=50);opacity:0.5;cursor:pointer;width:100%;z-index:1; }

.banner_bg1 {position:absolute; bottom:0px;background-color:#fff;height:35px;cursor:pointer;width:100%;z-index:1; }
.banner_bg2 {position:absolute; left:-2px;top:-2px;width:310px;height:245px;z-index:0; }

.TabContent span.info a{color:#fff;}

/*关键字标签*/
.content_label_list{ background:url(//www.chinanews.com/fileftp/2013/05/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U435P4T47D26194F976DT20130515090408.jpg) no-repeat center top; color:#67a6c9; margin:27px 0px 27px 20px; height:38px; line-height:40px; padding-left:30px; width:535px; display:block; overflow:hidden;}
.content_label_list a{color:#67a6c9;cursor:pointer; padding-left:10px; font-weight:lighter;}
.content_label_list a:hover{color:#fff;cursor:pointer; background:#5cbcf0; padding:3px 5px;}
/*正文图片尺寸限制*/
.left_zw img{max-width:580px; }
*.left_zw img{
width:expression(this.width>580?"580":width);
}
</style>

<!--20170904友盟插码开始-->

<!-- start Dplus --><!-- end Dplus -->


<!--20170904友盟插码结束-->
</head>
<body>

  <!--表情字段开始-->
  <input id="newsid" type="hidden"  name="newsid"  value="4_8_8584498"/>
  <input id="newsurl" type="hidden" name="newsurl" value="http://www.chinanews.com/gn/2018/07-31/8584498.shtml"/>
  <input id="newsdate" type="hidden" name="newsdate" value="<蚪侠_年>-<蚪侠_月>-<蚪侠_日>"/>
  <input id="newstime" name="newstime" type="hidden" value="08:30:32"/>
  <input id="newstitle" name="newstitle" type="hidden" value='习近平中东非洲外交之旅掀起强劲“中国风”'/>
  <input id="newstype" name="newstype" type="hidden" value='gn'/>
  <input id="moodtotal" name="moodtotal" type="hidden" value='0'/>
  <input id="bbstotal" name="bbstotal" type="hidden" value='0'/>
  <input id="creator" name="creator" type="hidden" value='liuhuan' />
  <input id="editorname" name ="editorname" type="hidden" value='刘欢' />
  <!--表情字段结束-->
  <!--顶通广告start-->
  <div class="div980" id="dingtong">
 </div>  <!--顶通广告end-->
<style>
#top { margin: 0 auto; width:960px; text-align:center; font-size:12px; color:#616161; height:48px; line-height:24px; overflow: hidden; color:#ccc; margin-bottom:10px; }
#top a { color:#616161; text-decoration:none; padding:0 7px;  font-size:14px; letter-spacing:1px; }
#top a:hover { color:#616161; text-decoration:underline; }

#top .topnav2 a{padding:0 7px 0 8px;}
</style>
<div id="top" class="background-whtie">
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|

  <a href="<蚪侠_随机URL>" ><蚪侠_随机linkkey></a>|
  <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>|
   <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>">I T</a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|

  <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
   <a href="<蚪侠_随机URL>" ><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
  <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>| <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br />

<div class="topnav2">
  <a href="<蚪侠_随机URL>">English</a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
  <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|

<!-- <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|-->
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
 <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
  <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
  <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
    <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>|
     <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
</div>
  <div class="clear"></div>
</div>

<!--[4,319,16] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:27:47 from #10 by 闫兆玉-->

  <!--旗帜广告start-->
<div class="div980 background-whtie" id="qizhi_div980"  style="display:none" >
  <div class="div750"  id="ad_banner"><style>
body{margin:0px;padding:0px;}
</style>

<a href="<蚪侠_随机URL>" target="_blank"><img src="http://www.chinanews.com/fileftp/2017/06/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U194P4T47D39713F981DT20170602154950.jpg" width="750" height="90"><蚪侠_随机linkkey></a>
</div>
  <div class="div225"  id="ad_banner_list">    <div> <a href="<蚪侠_随机URL>" target="_blank"><img src="http://www.chinanews.com/fileftp/2017/06/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U194P4T47D39713F979DT20170602151655.jpg" /><蚪侠_随机linkkey></a>    </div>

</div>
<div class="clear"></div>
</div>
<!--旗帜广告end-->
<!--nav_start-->
<div class="div980 background-whtie" id="nav_div980">
  <div id="logo"><a href="<蚪侠_随机URL>"><img src="//i3.chinanews.com/2011/news/images/logo.gif" width="155" height="44" alt="<蚪侠_随机linkkey>"  /><蚪侠_随机linkkey></a></div>
  <div id="nav"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a> → <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a> </div>
  <div id="ad_nav"  style="display:none" ></div>

  <div class="search">
    <!--[4,322,86] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:13:15 from #10 by 李敏--> 
<link rel="stylesheet" type="text/css" href="http://i6.chinanews.com/js/sou/jquery.autocomplete.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css"/>


 

 
<div id="search">
      <input id="keyword" name="q"  class="searchword"  onclick="this.value=''"  value="请输入关键词" onkeydown="return quickQueryCust(event)"/>
      <div class="search_button" ><a  onclick="submitFun()"><蚪侠_随机linkkey></a></div>
      <div id="menubar">
        <ul id="menus" class="menus">
          <li><span><蚪侠_随机linkkey></span>
            <ul class="children" id="child">
             <!-- <li ><a href="<蚪侠_随机URL>" target="_self" onclick="xzfl(1)"><蚪侠_随机linkkey></a></li>-->
              <li ><a href="<蚪侠_随机URL>" target="_self" onclick="xzfl(2)"><蚪侠_随机linkkey></a></li>
              <li><a href="<蚪侠_随机URL>" target="_self" onclick="xzfl(3)"><蚪侠_随机linkkey></a></li>
              <li ><a href="<蚪侠_随机URL>" target="_self" onclick="xzfl(4)"><蚪侠_随机linkkey></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div id="zihao"  style="display:none" >
    <div>字号：</div>
    <a javascript:void(0);  id="txt_x"><蚪侠_随机linkkey></a> <a  javascript:void(0); id="txt_z" class="on"><蚪侠_随机linkkey></a> <a javascript:void(0);  id="txt_d"><蚪侠_随机linkkey></a> </div>
  <div class="clear"></div>
</div>
<!--nav_end-->
<div class="xian"></div>
<div  id="con">
<div class="div980">
  <div class="con_left">
    <div class="fl" style="display:none">
      <div class="active"   id="menu_1_1_2">正文</div>

<div  id="menu_1_2_2" style="display:none;">评论 <span id=tstotal><蚪侠_随机linkkey></span></div>    </div>
    <div id="cont_1_1_2" style="width:100%;" class="content">
      <div id="ad_ym"  style="display:none" ></div>

                  <!--<div style="float:right; width:40px; height:21px; margin-right:1px; margin-top:1px; margin-left:1px; font-size:14px; color:#8fc1e0; background:#e6f5ff; text-align:center; font-family:'宋体';display:none" >信息</div>-->

      <div id="ad_title"  style="display:none" ></div>
      <h1 style="display:block; position:relative; text-align:center; clear:both"><蚪侠_关键词1></h1>

<div id="BaiduSpider" style="display:none">
<span id="pubtime_baidu"><蚪侠_随机linkkey></span>
<span id="source_baidu"><蚪侠_随机linkkey></span>
<span id="author_baidu"><蚪侠_随机linkkey></span>
<span id="editor_baidu"><蚪侠_随机linkkey></span>
</div>

      <div class="left-time" style="clear:both;">
     <div style="display:none"> </div>
        <div class="left-t" style="padding-left:6px;"> 2018年07月31日 08:30　来源：共产党员 <img  src="//i3.chinanews.com/2011/news/images/1.png" /><a href="<蚪侠_随机URL>" target="_self"><蚪侠_随机linkkey></a>　</div>
                  <!--[4,322,106] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 15:00:25 from #10 by 任迪--> 
<div style="width: 185px; float: left;" class="bdsharebuttonbox">
        <a href="<蚪侠_随机URL>" class="bds_tsina" data-cmd="tsina" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_weixin" data-cmd="weixin" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_sqq" data-cmd="sqq" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_qzone" data-cmd="qzone" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_twi" data-cmd="twi" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_fbook" data-cmd="fbook" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
    </div>
    

        <div class="clear"></div>
      </div>
	  <!--图片搜索-->
      <div id="tupian_div" align="center" style="width:98%;margin:0 auto;font-size:14px;"><!--视频搜索s--><!--视频搜索e--></div>
      <!--图片搜索-->
      <!--图片start-->

      <!--图片end-->
      <!--正文start-->
      <div class="left_zw" style="position:relative">  
<蚪侠_body内容>

<p>　　(来源：新华社)</p><div id="function_code_page"></div>  

      </div>
      <!--正文start-->
      <!--编辑姓名start-->

       <div class="left_name" style="width:600px; margin:0 auto">
         <div  class="biaoqian"><p></p></div>
<!--编辑姓名-->
      <div class="left_name"> 【编辑:刘欢】 </div>

<!--编辑姓名-->
</div>
      <!--编辑姓名end-->
      <!--分享-->
      <!--app客户端入口开始-->
      <!--客户端侨网微信-->    
<div style="width:590px;margin:0 auto 10px;">

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="590" height="160">
  <param name="wmode" value="opaque">
  <param name="movie" value="http://www.chinanews.com/fileftp/2017/09/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U194P4T47D40365F977DT20170921100945.swf">
  <param name="quality" value="high">
  <param name="wmode" value="transparent">
  <embed src="http://www.chinanews.com/fileftp/2017/09/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U194P4T47D40365F977DT20170921100945.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="590" height="160"></embed>
</object>

</div>

     <!--app客户端入口结束-->
      <div class="div624" style="width:600px; margin:0 auto">
        <div class="divshare">
          <div class="hds"> </div>

           <!--[4,322,106] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 15:00:25 from #10 by 任迪--> 
<div style="width: 185px; float: left;" class="bdsharebuttonbox">
        <a href="<蚪侠_随机URL>" class="bds_tsina" data-cmd="tsina" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_weixin" data-cmd="weixin" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_sqq" data-cmd="sqq" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_qzone" data-cmd="qzone" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_twi" data-cmd="twi" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" class="bds_fbook" data-cmd="fbook" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
    </div>
    
        </div>
        <div class="channel"  style="display:none" ><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div>
        <div class="clear"></div>
      </div>
      <!--分享-->
      <!--相关新闻精选-->

	<!--相关专题-->
       <div class="div624 border-top-darshd margin-top20 padding-left20">
<ul><li><br />
   <span style="font-weight:bold;padding-left:10px;"><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><li></ul></div>
  <!--相关专题-->

      <!--相关新闻结束-->
      <!--频道新闻精选开始-->
      <div class="div624 border-top-darshd margin-top20"  style="display:none" >
      <div style="width:315px; float:left">
        <h4 class="padding-left10"><蚪侠_关键词1></h4>
        <ul class="padding-left10">
          <!--[4,330,1] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:22:11 from #10 by system --><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
        </ul>
        </div>
        <div style="width:300px; float:left; padding-top:30px;">
        	
<div>

</div>


        </div>
        <div class="clear"></div>
        <!--[4,322,107] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 13:15:20 from #10 by 赵谦--> 
<!--360笑话频道合作s-->
        <div class="right_pha1 TabContent" id="sh_qihoo_xiaohua"></div>
 <div class="clear"></div>
    <!--360笑话频道合作e-->
      </div>
      <!--频道新闻精选结束-->
      <div id="ad_left_wm"  style="display:none" >
      	

      </div>
      <!--互动区start-->
      <div class="div624 margin-top20">
        <div id="zw_cyhd"></div>
        <!--<div>  </div>-->
        <div> 
<div id="SOHUCS" sid="8584498"></div>


 </div>
      </div>
      <!--互动区end-->
      <div class="border-bottom-1" style="height:1px;"></div>
      <div class="blank0"></div>
      <!--底部广告位start-->
      <div id="ad_left_jj1"  style="display:none" >	
</div>
      <!--底部广告位end-->
    </div>
    <div id="cont_1_2_2" style="display:none; clear:both" ><div class="wypl_bt">网友评论　<span style="font-size:14px;"><蚪侠_随机linkkey></span></div>
      <div id="wypl"></div>
      <div class="wypl_list">
      </div> </div>
  </div>
  <div class="con_right"  style="display:none" >
    <div class="pdlm"> <!--[4,322,56] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 13:59:50 from #10 by 闫兆玉--> 
<a href="<蚪侠_随机URL>" class="pdlm_pd"><蚪侠_随机linkkey></a>
<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
      <div class="clear"></div>
    </div>
    <!--右侧画中画start-->
    <div id="ad_right_fc1"></div>
    <!--右侧画中画end-->
    <!--推荐阅读start-->

      <!--[4,322,93] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 13:37:57 from #10 by 闫兆玉--> 
<!--推荐阅读start-->
    <div class="right_lm">
      <div class="right_lm_bt"> <a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></div>
      <div class="right_lm_ad" id="ad_right_lm"></div>
      <div class="clear"></div>
    </div>
    <ul id="ydtj">
      <!--[4,322,8] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:11:50 from #10 by 刘羡--> 

<li>·<a href=//www.chinanews.com/gj/2018/08-11/8596768.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/sh/2018/08-11/8596767.shtml>法院将罪犯送交执行遭看守所拒收3次：患病且有HIV</a></li>

<li>·<a href=//www.chinanews.com/gj/2018/08-11/8596753.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/sh/2018/08-11/8596749.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/sh/2018/08-11/8596669.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/sh/2018/08-11/8596667.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/ty/2018/08-11/8596647.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/ga/shipin/cns-d/2018/08-10/news781481.shtml><a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></a></li>

<li>·<a href=//www.chinanews.com/sh/2018/08-10/8596522.shtml><蚪侠_随机linkkey></a></li>

<li>·<a href=//www.chinanews.com/sh/shipin/cns-d/2018/08-10/news781456.shtml><a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></a></li>
 

    </ul>
    <!--推荐阅读end-->



    <!--推荐阅读end-->
    <!--广告位合作start-->
      <!--[4,319,27] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:47:11 from #10 by 王卫强 maker:wangweiqiang-->
<div id="sh_qihoo_position_10137"></div>
   

    <!--广告位合作end-->

    <!--商讯start-->
    <div id="ad_right_fc2">	
</div>
    <div id="ad_right_fc3">	
</div>
    <!--商讯end-->
    <!--社区start-->
          <!--360-->
<!--[4,322,100] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:58:21 from #10 by system--> 
            
            <!--360-->

   <!--热门图片start-->
    <div class="right_lm1">
      <ol class="active" onMouseOver="menu_on(4,1,3);"  id="menu_4_1_3">
        <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
      </ol>
      <ol  onMouseOver="menu_on(4,2,3);"  id="menu_4_2_3">
        <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
      </ol>
       <ol onMouseOver="menu_on(4,3,3);"  id="menu_4_3_3" style="display:none;">
        <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
      </ol>
    </div>
    <div class="TabContent" id="zhengwenpic">
      <div id="cont_4_1_3" style="display: block; ">
        <div style="line-height:20px;padding-bottom:7px;padding-top:7px;">
          <div class=right_ph>
            <!--[4,322,1] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:03:01 from #10 by system--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0"><tr><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/2018/08-10/U661P4T8D8596344F5012DT20180810171151.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/2018/08-10/U661P4T8D8596158F5012DT20180810152221.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td></tr><tr><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/2018/08-10/U601P4T8D8595298F5012DT20180810073551.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/2018/08-10/U601P4T8D8595295F5012DT20180810073224.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td></tr></table>
          </div>
        </div>
      </div>
      <div id="cont_4_2_3" class="none" style="display: none; ">
        <div style="line-height:20px;padding-bottom:7px;padding-top:7px;">
          <div class=right_ph>
            <!--[4,322,2] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:03:03 from #10 by system--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/tp/2018/08-04/U661P4T8D8589536F5012DT20180804172257.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/tp/2018/07-29/U86P4T8D8583036F5012DT20180729160446.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td></tr>
     <tr><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/tp/2018/07-28/U86P4T8D8582364F5012DT20180728094802.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td><td><div><a href="<蚪侠_随机URL>"><img src="http://www.chinanews.com/2018/07-20/U661P4T8D8573446F5012DT20180720081503.jpg" /><蚪侠_随机linkkey></a></div>
     <div><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div></td></tr></table>
          </div>
        </div>
      </div>
<div id="cont_4_3_3" class="none" style="display: none; ">
        <div style="line-height:20px;padding-bottom:7px;padding-top:7px;">
          <div class=right_ph>
            <!--[4,322,92] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:03:14 from #10 by system--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0"></table>
          </div>
        </div>
      </div>
    </div>
    <!--热门图片end-->
    <!--新增广告位  热门图片广告335*不限制-->
    
<!--[4,175,441] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:19:17 from #10 by 郑振海-->
    <!--正文右侧中新社区下合作20141016新增s-->
    <!--[4,322,111] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:58:36 from #10 by system--> 

    <!--正文右侧中新社区下合作20141016新增e-->

    <!--来源360的四幅合作图片s-->
    <div id="360ad_4pic" style="display:none">
</div>


    <!--来源360的四幅合作图片e-->

    <!--医疗广告start-->
    <div id="ad_right_fc4">
</div>
    <!--医疗广告end-->
    <!--[4,322,94] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 13:58:34 from #10 by 赵谦--> 

    <!--排行start-->
    <div class="right_lm1">
      <ol>
        <a><蚪侠_随机linkkey></a>
        <!--http://mood.chinanews.com/rank/news_rank.shtml-->

      </ol>
      <ol style="text-align:right; border:0px; float:right; margin-right:2px;">
        <img src="//i3.chinanews.com/2011/news/images/8.png"  />
      </ol>
    </div>

    <div class="TabContent" id="zhengwenph">

      <div id="cont_3_1_2" style="display: block; padding-left:5px;">
        <div style="padding-bottom:7px;padding-top:7px;padding-left:25px;background-image:url(/fileftp/2008/12/<蚪侠_年>-<蚪侠_月>-<蚪侠_日>/U76P4T47D10067F977DT20081230234629.jpg);background-repeat:no-repeat;
background-position:5px 8px;">
          <ul>
            <li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
          </ul>
        </div>
      </div>

    </div>
    <!--排行end-->

        <!--新增start-->
    <div id="ad_right_fc5">
</div>
    <!--新增end-->

    <!--热点视频start-->
    <div class="right_lm1">

      <ol class="active" onMouseOver="menu_on(5,1,2);"  id="menu_5_1_2">

        <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>

      </ol>

      <ol  onMouseOver="menu_on(5,2,2);"  id="menu_5_2_2">

        <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>

      </ol>

      <ol style="text-align:right; border:0px;">

        <img src="//i3.chinanews.com/2011/news/images/10.png"  />

      </ol>

    </div>
    <div id="zhengwenvideo">
                  <div id="cont_5_1_2" >
                  <div class="sp_tp">
                  	<!--[4,322,88] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:17:18 from #10 by 王祎--> 

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/fz/shipin/2018/08-11/U574P883T4D781497F113DT20180811101318.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://i2.chinanews.com/simg/tvmimg/2018/08-11/1124535_sm.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/shipin/2018/08-10/U574P883T4D781416F113DT20180810150340.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/shipin/2018/08-10/U574P883T4D781415F113DT20180810150814.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

	
                    <div class="clear"></div>
                  </div>
                  <div class="sp_list">
                    <ul>

        <!--[4,322,89] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:17:19 from #10 by 王祎--> 
<li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

        </ul>

                  </div>

          </div>
          <div id="cont_5_2_2"  style="display:none">
           <div class="sp_tp">
                  	<!--[4,322,87] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:03:08 from #10 by system--> 

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/sh/shipin/2018/08-10/U738P883T4D781444F113DT20180810185348.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/sh/shipin/2018/08-10/U738P883T4D781432F113DT20180810172145.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://www.chinanews.com/gj/shipin/2018/08-10/U738P883T4D781424F113DT20180810155820.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

 	   <li><a href="<蚪侠_随机URL>"><img class=whb src="http://i2.chinanews.com/simg/reportmanuscript/2018/08-10/100209_sm.jpg" /><蚪侠_随机linkkey></a><p><a href="<蚪侠_随机URL>">揭秘cosplay的台前幕后</a></p><a href="<蚪侠_随机URL>" style="display:block" class="play"><蚪侠_随机linkkey></a></li>

	
                    <div class="clear"></div>
                  </div>
                  <div class="sp_list">
                    <ul>

        <!--[4,322,90] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 10:03:13 from #10 by system--> 
<li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li><li>·<a href="<蚪侠_随机URL>"><span class=ptv><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

        </ul>

                  </div>

          </div>
          </div>

    <!--热点视频end-->
    <!--<div class="border-bottom-1"></div>-->
   <!--右侧底部三个广告位合并-->
   

<div class="border-bottom-1"></div>


  </div>
  <div class="clear"></div>
</div>
<div>
</div>
  <!--页底共产党员-->
<div id="ad_ditong"  style="display:none" ></div>

    <div class="pagebottom">
    <div class="pagebottom_1"> <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　| <a href="<蚪侠_随机URL>">About us</a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><div style="display:none">　|　<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div> </div>
    <div class="pagebottom_2">本网站所刊载信息，不代表中新社和中新网观点。 刊用本网站稿件，务经书面授权。</div>
    <div class="pagebottom_2">未经授权禁止转载、摘编、复制及建立镜像，违者将依法追究法律责任。</div>
    <div class="pagebottom_2">[<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>] [<a href="<蚪侠_随机URL>">京ICP证040655号</a>] [京公网安备:110102003042-1] [<a href="<蚪侠_随机URL>">京ICP备05004340号-1</a>] 总机：86-10-87826688</div>
    <div class="pagebottom_2" style="font-family:arial;"><p style="font-family:arial;">Copyright &copy;1999-
2018

 chinanews.com. All Rights Reserved</p>
</div>

  </div>
  </div>


<!-- f=360不显示AD s-->  


<!-- f=360不显示AD e--> 

<!-- f=baidu不显示AD s-->  


<!-- f=baidu不显示AD e--> 
<!--侨办主任贺新春样式-->

<!--侨办主任贺新春样式end-->
</div>
<div id="ad_shichuang"  style="display:none" ><!--include virtual="/ad2008/211.html"--></div>
<div id="ad_youbiao"  style="display:none" ></div>
<div id="ad_duilian"  style="display:none" ></div>


<!--[4,322,105] published at <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 16:38:48 from #10 by 任迪--> 





<!--页底-->
<!---->


</body>
</html><!--${图片缩放1}--><!---->
<!-- --><!-- -->