
<!DOCTYPE html>
<html>
<head>
<title><蚪侠_随机标题></title>
<meta name="keywords" content="<蚪侠_随机关键字>">
<meta name="description" content="<蚪侠_随机描述>">
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="//j.ssajax.cn/bida/css/reset.css?ver=20180727c" />
<link href="//j.ssajax.cn/bida/css/detail.css?ver=20180727b" rel="stylesheet" />
</head>
<body>
<div class="topBarbg">
	<div class="topBar cfx">
		<div class="rig">
			<a class="sp_wx" href="<蚪侠_随机URL>" data-target=".ewm_box"><蚪侠_随机linkkey></a>
			<a class="sp_sc" href="<蚪侠_随机URL>" data-target=".sc_box"><蚪侠_随机linkkey></a>
		</div>
        <div id="float_box">
		    <div class="sc_box">
			    <div class="jiao"><img src="//i.ssimg.cn/bida/images/icon_jiao.jpg" /></div>
			    <div class="sc_cont">
				    <p class="p_wz">
					    <span><蚪侠_随机linkkey></span>一键收藏必达财经，全面了解财经最新资讯，方便快捷。
				    </p>
				    <p class="p_download">
					    <span><蚪侠_随机linkkey></span>
					    <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
				    </p>
			    </div>
		    </div>
		    <div class="ewm_box">
			    <div class="jiao"><img src="//i.ssimg.cn/bida/images/icon_jiao.jpg" /></div>
			    <div class="ewm_cont">
				    <img src="//i.ssimg.cn/bida/images/wxapp.png" class="ewm_img">
				    <p class="sm">微信扫码阅读</p>
				    <p class="des">财经快讯早知道</p>
			    </div>
		    </div>
        </div>
	</div>
</div>
<div class="headerbg">	
	<div class="header cfx">
		<div class="logo">
			<a href="<蚪侠_随机URL>" target="_self" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
		</div>

		<ul class="nav cfx">
                    <li><a href="<蚪侠_随机URL>">7X24</a></li>
                    <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
                    <li class="active"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
                    <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>

		</ul>
	</div>
</div>


<div class="iBread" style="margin-top: 5px;">                            
    <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><span><蚪侠_随机linkkey></span> <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><span><蚪侠_随机linkkey></span> <span><蚪侠_随机linkkey></span> 
</div>
<div class="warp">
	<div class="details"> 
		<h3 class="title_h3" style="margin-top: 10px;"><蚪侠_关键词1></h3>
		<p class="left_item_msg mt10">来源：证券之星 | <蚪侠_年>-<蚪侠_月>-<蚪侠_日> 15:15:34</p>
		<div class="detailbox">
 <蚪侠_body内容>
        </div>
	
        <div style="height: 30px;"></div>
        
    <div style="height:0px;overflow:hidden;font-size:0" id="fixed-footer"></div>
        <div class="bdsharebuttonbox cfx">
            <span style="color: #999;"><蚪侠_随机linkkey></span>
            <a href="<蚪侠_随机URL>" target="_blank"  class="bds_tsina" data-cmd="tsina" title="<蚪侠_随机linkkey>" style="background: url(//i.ssimg.cn/bida/images/weibo.png) no-repeat  9px 3px;font-size: 12px;_background-image:url(//i.ssimg.cn/bida/images/weibo.8.png);"><蚪侠_随机linkkey></a>
            <a href="<蚪侠_随机URL>" target="_blank" class="bds_sqq" data-cmd="sqq" title="<蚪侠_随机linkkey>" style="background: url(//i.ssimg.cn/bida/images/qq.png) no-repeat 16px 2px; font-size: 12px;_background-image:url(//i.ssimg.cn/bida/images/qq.8.png);">QQ好友</a>
            <a href="<蚪侠_随机URL>" style="background: url(//i.ssimg.cn/bida/images/weixin.png) no-repeat  20px 4px;font-size: 12px;margin-right: 0;_background-image:url(//i.ssimg.cn/bida/images/weixin.8.png);" class="wx "><蚪侠_随机linkkey></a>
        
            <div class="wx_alert">
	            <div style="height:194px;border:1px solid #ccc;box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 12px 2px;">
	            <p class="p_1">分享到微信</p>
	            <img src="//i.ssimg.cn/bida/images/close.jpg" class="closeBtn">
	            <img src="http://www.bida24.com/api/wx-qr" class="ewm">
	            <p class="p_2">使用微信"扫一扫"分享至朋友圈。</p>
	            </div>
	            <div class="sline"></div>
            </div>
        </div>
        
        <div class="fbot" style="margin-top: 50px;">文章内容仅供参考，不构成投资建议。投资者据此操作，风险自担。</div>
    </div>	
    

</div>
<div style="height: 30px;"></div>



 <div class="gohome" style="margin-bottom: 32px;"></div>

<div class="footer" id="footer">    
    <p style="padding-top: 15px;*padding-top: 10px;">投稿合作邮箱：bida24@stockstar.com</p>
	<p>必达财经 ?2018<span class="ml5"><蚪侠_随机linkkey></span><span class="ml5"><蚪侠_随机linkkey></span></p>
	<p><a href="<蚪侠_随机URL>" target="_blank">沪ICP备B2-20040014-15</a></p>
</div>

</body>




</html>

