<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312" />
<title><蚪侠_随机标题></title>
<meta name="keywords" content="<蚪侠_随机关键字>" />
<meta name="description" content="<蚪侠_随机描述>" />
<link href="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/style/global.css" rel="stylesheet" type="text/css">
<link href="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/style/navigation.css" rel="stylesheet" type="text/css">
<link href="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/style/navigation2.css" rel="stylesheet" type="text/css">
<link href="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/style/list.css" rel="stylesheet" type="text/css">
<link href="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/style/text.css" rel="stylesheet" type="text/css">

</head>
<body>
 
<!-- 内容 -->
<div class="all-wrap">
<div class="g-nav"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> &gt; <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> &gt; <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
<!--左侧-->
	<div class="FloatL" style="width:840px">
       <div class="text_L ">
         <h1><蚪侠_关键词1></h1>
         <div class="s-tit"><蚪侠_年>-<蚪侠_月>-<蚪侠_日> 12:51 中国竞彩网
              <span class="share"><蚪侠_随机linkkey></span>
         </div>
         <div class="jc-article">
<蚪侠_body内容>
             <p><span style="color:#c80000;font-weight:bold"><蚪侠_随机linkkey></span></p>
            <p><span style="color:#c80000"><蚪侠_随机linkkey></span></p>
         </div>
       </div>
       <div class="List_t" style="margin-top:30px">相关新闻</div>
       <uL class="news-ul">
       <li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>

       </uL>
       <div class="List_t" style="margin-top:30px"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
       <div class="atlas">
       <div class="atl-img FloatL"><a href="<蚪侠_随机URL>" target="_blank"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/images/2018/07/16/13-1PG6005022344.jpg" width="180" height="100" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><br><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></div>
<div class="atl-img FloatL"><a href="<蚪侠_随机URL>" target="_blank"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/images/2018/07/14/13-1PG4234PBH.jpg" width="180" height="100" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><br><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></div>
<div class="atl-img FloatL"><a href="<蚪侠_随机URL>" target="_blank"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/images/2018/07/12/9-1PG2092416260.jpg" width="180" height="100" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><br><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></div>
<div class="atl-img FloatL"><a href="<蚪侠_随机URL>" target="_blank"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/images/180711/25-1PG10922570-L.jpg" width="180" height="100" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><br><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></div>

       </div>
    </div>
<!--/左侧-->

<!--右侧-->
	<div class="List_R FloatR">
    	<!--新版足球正文页右上焦点图-->
<a href="<蚪侠_随机URL>"><img width="100%" src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/images/2018/07/18/36_0855118421.jpg"><蚪侠_随机linkkey></a>
            <!--足球热门比赛-->
    	<div class="List_Box">
        	<div class="List_t"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
            <ul class="com-ul">
            <li><a href="<蚪侠_随机URL>" target="_blank">世界杯季军战首发：争金靴 凯恩PK卢卡库</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">法国VS比利时：18亿豪阵PK 2队都变阵</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">英格兰vs克罗地亚前瞻：三狮青春风暴</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">法国VS比利时前瞻：比利时力拼中场</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">法国VS比利时前瞻：18亿欧对决</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">瑞典vs瑞士首发：沙奇里领衔</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">巴西vs墨西哥首发：内马尔领衔</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">俄罗斯vs西班牙首发：科斯塔单箭头</a></li>
<li><a href="<蚪侠_随机URL>" target="_blank">法国vs阿根廷首发：梅西领衔伊瓜因替补</a></li>

            </ul>
        </div>
    
    <!--/足球热门比赛-->
    <!--中国体育彩票官方客户端-->
		<!--<div class="List_Box">
        	<div class="List_t">中国体育彩票官方客户端</div>
          		<div class="List_wx"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2018/201806_app_support/images/list/app.jpg"></div>
        </div>-->
    <!--中国体育彩票官方客户端-->
      <!--竞彩官方公众号-->
    	<div class="List_Box">
        	<div class="List_t">竞彩官方公众号</div>
          		<div class="List_wx"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/images/list/wx.jpg"></div>
        </div>
    <!--/竞彩官方公众号-->
    
    <!--竞彩官方公众号-->
    	<div class="List_Box">
        	<div class="List_t"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
          		<div class="List_map"><a href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>"><img src="http:/http://<蚪侠_当前域名><蚪侠_根目录>/static.sporttery.cn/pres/proj/2016/sporttery-2016/images/list/map.jpg"><蚪侠_随机linkkey></a></div>
                <div class="List_map">
                    <div class="FloatR" style="display:block;">
                    	<div class="List_time">
                               <!-- <table border="0" cellspacing="0" cellpadding="0" class="m-time">
			  <tbody>
				<tr>
				  <th scope="col"></th>
				  <th scope="col">足球</th>
				  <th scope="col">篮球</th>
				</tr>
				<tr>
				  <td>周一至周五</td>
				  <td>09:00-24:00</td>
				  <td class="u-time">09:00-24:00<br>（美职篮赛季期间<br>周三至周四07:30-24:00）</td>
				</tr>
				<tr>
				  <td>周六至周日</td>
				  <td>09:00-01:00</td>
				  <td>09:00-01:00</td>
				</tr>
			  </tbody>
		</table>-->
                            <!--足球开停售时间-->
 [周一至周五] 开售09:00 停售24:00<br>[周六至周日] 开售09:00 停售01:00
                        </div>
                    </div>
                </div>
        </div>
    <!--/竞彩官方公众号-->
    
    </div>
<!--/右侧-->
    <div class="clear"></div>
</div>
<!-- /内容 --> 
<!--footer开始--> 
 
<!--footer结束-->
</body>
</html>