<!doctype html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title><蚪侠_随机标题></title>
<meta name="keywords" content="<蚪侠_随机关键字>" />
<meta name="description" content="<蚪侠_随机描述>" />
<link href="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiAexw4AAAAAAAAAAA3499735.reset.css" rel="stylesheet" />
<link href="http://f2.cri.cn/M00/E2/22/CqgNOlk59hyAMVKoAAAAAAAAAAA0440755.base.css" rel="stylesheet" />
<link href="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiAexw4AAAAAAAAAAA3499735.common.css" rel="stylesheet" />
<link href="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiAexw4AAAAAAAAAAA3499735.article.css" rel="stylesheet" />
 <link type="text/css" href="http://f2.cri.cn/M00/1B/4D/CqgNOlZX7A2ANpDEAAAAAAAAAAA3020819.font-news.css" rel="stylesheet" />
<link href="<蚪侠_随机URL>" type="image/x-icon" rel="shortcut icon" />
<style>
.abody .play-box .tip {display:none;}
</style>

<!--兼容ie6widthmax-->
<style>
.abody img {_width: expression(this.width > 640 ? '640px': true);}
</style>
</head>

<body class="article-wbl">
<div class="article-nav">
  <div class="article-nav01">
    <div class="article-nav-con">
      <ul>
        <li class="home"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
        <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
        
        <li class="last"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
      </ul>
    <form class="search" id="form2" name="form2" method="post" target="search" onsubmit="return change()">
        <input class="text" type="text" id="q1" name="q1" size="25" maxlength="255" value="" />
        <!--<input class="btn" type="button" title="<蚪侠_随机linkkey>" />-->
        <input src="//f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.search-fdj.png" height="28" width="28" type="image" border="0" align="top" />
        <input id="selectId" name="selectId" value="0" type="hidden" />
      </form>
<!--<div class="fr r"  style="width:168px;z-index:99999">
<form  class="search" action="http://www.so.com/s" target="_blank" id="so360form">
        <input class="text"  type="text" autocomplete="off" name="q" id="so360_keyword">
        <input class="fr" src="http://news.cri.cn/common/_images/search-fdj.png" height="28" width="28" type="image" border="0" align="top"/>
        <input type="hidden" name="ie" value="utf-8">
        <input type="hidden" name="src" value="zz_so.com">
        <input type="hidden" name="site" value="so.com">
        <input type="hidden" name="rg" value="1">
        <input type="hidden" name="inurl" value="">
    </form>
   <div class="newsBox a"></div>
</div>-->

    </div>
  </div>
  <div class="article-nav02">
    <div class="article-nav-con">
      
      <div class="channel-logo"><a href="<蚪侠_随机URL>"><img src="http://p2.cri.cn/M00/1F/13/CqgNOlZ7xcCAGk4kAAAAAAAAAAA033.190x40.png" width="190" height="40"  alt="<蚪侠_随机linkkey>" /><蚪侠_随机linkkey></a></div>
      <div class="channel-link">
        <p><span style="font-size:14px"><蚪侠_随机linkkey></span></p>
      </div>
<div class="clear"></div>
      
    </div>
  </div>
</div>
<div class="clearfix"></div>
<div class="wrap">
  <div class="main">
    <div class="article-box">
      <h1 id="goTop" class="atitle"><蚪侠_关键词1></h1>
      <div class="info clearfix">
        <span id="acreatedtime" class="acreatedtime"><蚪侠_随机linkkey></span>|<span id="asource" class="asource"><蚪侠_随机linkkey></span>|<span id="aeditor" class="aeditor"><蚪侠_随机linkkey></span>
        <div class="share-box">
          <div class="bdsharebuttonbox"><a href="<蚪侠_随机URL>" class="bds_tsina" data-cmd="tsina" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><a href="<蚪侠_随机URL>" class="bds_weixin" data-cmd="weixin" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a><a href="<蚪侠_随机URL>" class="bds_more" data-cmd="more"><蚪侠_随机linkkey></a></div>
          
        </div>
<div class="clear"></div>
      </div>
      
      <div id="abody" class="abody" pageData='' isAutoPlay="">
<蚪侠_body内容>
<div class="details-labels-style"><b><蚪侠_随机linkkey></b></div>

      </div>

      <div class="page-nav"></div>
    </div>

    <div class="article-btm">
      
    </div>

    <div class="commentBox">
       
    </div>
  </div>
</div>

<div class="footer-wrap">
<link type="text/css" href="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiAexw4AAAAAAAAAAA3499735.footer.css" rel="stylesheet" />  
<div class="footer"> 
	<div class="footer-con"> 
        <div class="text1">
          <p><a target="_blank" href="<蚪侠_随机URL>" rel="nofollow">关于CIBN</a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow">关于CRI</a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow">CRI招聘</a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow">CRI培训</a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a> | <a target="_blank" href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a></p>
        </div>
        <div class="text2">
          <p>地址：北京市石景山路甲16号  邮政编码：100040</p>
          <p><span><蚪侠_随机linkkey></span>中国互联网举报中心 违法和不良信息举报电话：010-68891032  举报邮箱：jubao@cri.com.cn  新闻从业人员职业道德监督电话：010-68892232 监督邮件：jchsh@cri.com.cn</p>
          <p><a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a> 网络传播视听节目许可证 <a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>&#12288;京ICP证<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>号&#12288;京ICP备05064898号&#12288;京公网安备11010702000014</p>
          <p>网站运营：国广国际在线网络（北京）有限公司</p>
          <p>中国国际广播电台国际在线版权所有&copy;1997-2018 未经书面授权禁止复制或建立镜像</p>
          <p><a target="_blank" href="<蚪侠_随机URL>"><img width="22" src="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.footer-gs.gif" /><蚪侠_随机linkkey></a></p>
        </div>
	</div>
	<div class="footer-count"> 
		<div style="display:none;">
<!--Baidu-->


<!--cnzz20151102-->





<!--?????-20141224-->
<!-- START WRating v1.0 -->



<noscript>
<img src="http://c.wrating.com/a.gif?a=&c=860010-2934010101" width="1" height="1" />
</noscript>
<!-- END WRating v1.0 -->
</div>
	</div>
</div>
</div>

<div class="float-box1">
  <div class="qr">
    <p>国际在线官方微信</p>
    <img src="http://f2.cri.cn/M00/1B/4E/CqgNOlZX7A6Ac6L-AAAAAAAAAAA6589461.criol_wx.gif" />
  </div><!-- /qr -->
  <div class="qr">
    <p>国际在线趣新闻</p>
    <img src="http://f2.cri.cn/M00/1B/4E/CqgNOlZX7A6Ac6L-AAAAAAAAAAA6589461.qxw_wx.gif" />
  </div><!-- /qr -->
  <a class="go-top" href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
</div>
<!--  Baidu Analytics Custom Start -->

<!--  Baidu Analytics Custom End -->




		<link href="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiAexw4AAAAAAAAAAA3499735.menuRight.css" rel="stylesheet" />
		<div class="menuRight2018 tranEff-1">
			<ul>
				<li class="dw-cn">
					<a class="mR-Li-Btn tranEff-1"><蚪侠_随机linkkey></a>
					<div class="mR-float-wrap">
						<div class="mR-float-box">
							<i class="mR-float-jt"></i>
							<div class="mR-float-ewm"><img src="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.ewm-cn.png" /></div>
							<div class="mR-Li-Link"><a class="tranEff-1" href="<蚪侠_随机URL>" target="_blank">下载ChinaNews</a></div>
						</div>
					</div>
				</li>
				<li class="cri-wx cri-news">
					<a class="mR-Li-Btn tranEff-1"><蚪侠_随机linkkey></a>
					<div class="mR-float-wrap">
						<div class="mR-float-box">
							<i class="mR-float-jt"></i>
							<div class="mR-float-ewm"><img src="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.ewm-cri.png" /></div>
							<div class="mR-Li-Link"><a><蚪侠_随机linkkey></a></div>
						</div>
					</div>
				</li>
				<li class="cri-wb cri-ent">
					<a class="mR-Li-Btn tranEff-1"><蚪侠_随机linkkey></a>
					<div class="mR-float-wrap">
						<div class="mR-float-box">
							<i class="mR-float-jt"></i>
							<div class="mR-float-ewm"><img src="http://f2.cri.cn/M00/1B/18/CqgNOlZVFjiANL_qAAAAAAAAAAA5647606.ewm-ent.png" /></div>
							<div class="mR-Li-Link"><a><蚪侠_随机linkkey></a></div>
						</div>
					</div>
				</li>
				<li class="back-top">
					<a class="mR-Li-Btn tranEff-1"><蚪侠_随机linkkey></a>
				</li>
			</ul>
		</div>
		 
</body>
</html>