<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><蚪侠_随机标题></title>
<meta content="<蚪侠_随机关键字>" name="keywords" />
<meta content="<蚪侠_随机描述>" name="description" />
<link type="text/css" rel="stylesheet" href="http://www.bankofchina.com/images/boc2013_reset.css">
<link type="text/css" rel="stylesheet" href="http://www.bankofchina.com/images/boc2013_common.css">
<link type="text/css" rel="stylesheet" href="http://www.bankofchina.com/images/boc2013_pages.css">
</head>
<body>
<div class="wrapper">
    <div class="top clearfix">
    	<div class="top_links">
            <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
            <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
            <a href="<蚪侠_随机URL>">English</a>
        </div>
        <div class="top_menu">
           
            <p class="p_2013" id="top_service">
			
			<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
			
			</p>

            <p class="p_2013" id="top_network">
			
			<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>
			 /<a href="<蚪侠_随机URL>">ATM分布</a></p>
        </div>
    </div>
    <!--header-->
    <div class="header">
    	<div class="header_area">
        	<h1 class="logo"><蚪侠_关键词1></h1>
            <div class="header_info">
            	<p class="phone">服务热线：<span><蚪侠_随机linkkey></span>信用卡热线：<span><蚪侠_随机linkkey></span></p>
                <form name="trssearchform" id="trssearchform" action="http://srh.bankofchina.com/search/sitesearch/index.jsp" method="post" target="_blank">
				<input type="hidden" name="searchColumn" value="all">  
                <div class="search_bar">
                	<input type="text" class="search_ipt" id="sword" name="sword" value="请输入检索关键词" onfocus="if(this.value=='请输入检索关键词') this.value='';" onblur="if(this.value == '') this.value='请输入检索关键词';">
                    <input type="button" class="search_btn" onclick="document.trssearchform.submit();">
                </div>
                </form>				
            </div>
        </div>
        <!--导航-->
        <div class="nav_2013">
        <ul class="menu" id='BOC_NAVIGATOR_UL'>
            <li class="li_2013 current"><a href="<蚪侠_随机URL>" class="current"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer1','','show')" onmouseout="showHideLayer('layer1','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer2','','show')" onmouseout="showHideLayer('layer2','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer3','','show')" onmouseout="showHideLayer('layer3','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer4','','show')" onmouseout="showHideLayer('layer4','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer5','','show')" onmouseout="showHideLayer('layer5','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer6','','show')" onmouseout="showHideLayer('layer6','','hide')"><蚪侠_随机linkkey></a></li>
            <li class="li_2013"><a name='PL_MENU_NAME' href="<蚪侠_随机URL>" onmouseover="showHideLayer('layer7','','show')" onmouseout="showHideLayer('layer7','','hide')"><蚪侠_随机linkkey></a></li>
        </ul>
        <!--子菜单-->
    <div class="sub_menu" id="layer1" onmouseover="showHideLayer('layer1','','show')" onmouseout="showHideLayer('layer1','','hide')">
    	<i></i>
        <div class="sub_area clearfix">
		<!-- 获取公司金融下的前n个子栏目的名称，数量由num控制 start-->
		 
			<ul class="sub_nav list">
			<!-- 显示格式为5行一列 start-->
			 
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
			<!-- 显示格式为5行一列 end-->
            </ul>
		 
			<ul class="sub_nav list">
			<!-- 显示格式为5行一列 start-->
			 
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
			<!-- 显示格式为5行一列 end-->
            </ul>
		 
			<ul class="sub_nav list">
			<!-- 显示格式为5行一列 start-->
			 
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
			<!-- 显示格式为5行一列 end-->
            </ul>
		 
		 <!-- 获取公司金融下的前n个子栏目的名称，数量由num控制 end-->
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
            <ul class="sub_nav list sub_ad">
			 
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/cbservice/201401/W020170410651796460774.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/cbservice/201401/W020140617340653562515.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
             		  
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->
        </div>
    </div>
    <div class="sub_menu" id="layer2" onmouseover="showHideLayer('layer2','','show')" onmouseout="showHideLayer('layer2','','hide')">
        <i></i>
        <div class="sub_area clearfix">
		<!-- 获取个人金融下的前n个子栏目的名称，数量由num控制 start-->
		 
			<ul class="sub_nav list">
			  <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
		 
			<ul class="sub_nav list">
			  <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
		 
			<ul class="sub_nav list">
			  <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
		 
		 <!-- 获取个人金融下下的前n个子栏目的名称，数量由num控制 end-->
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/pbservice/pb5/200807/W020151202408465813091.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/pbservice/pb1/201303/W020140113752504505911.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->           
        </div>
    </div>
    <div class="sub_menu" id="layer3" onmouseover="showHideLayer('layer3','','show')" onmouseout="showHideLayer('layer3','','hide')">
        <i></i>
        <div class="sub_area clearfix">
		 <!-- 获取银行卡下的前n个子栏目的名称，数量由num控制 start-->
		   
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
              <!-- 显示格式为5行一列 end-->
            </ul>
			
		    <!-- 获取银行卡下的前n个子栏目的名称，数量由num控制 end-->			
            <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/pbservice/201407/W020150413655103624158.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/bcservice/bi3/bi31/201503/W020150414541015854036.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->   
        </div>
    </div>
    <div class="sub_menu" id="layer4" onmouseover="showHideLayer('layer4','','show')" onmouseout="showHideLayer('layer4','','hide')">
        <i></i>
        <div class="sub_area clearfix">
		<!-- 获取金融市场下的前n个子栏目的名称，数量由num控制 start-->
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
              
              <!-- 显示格式为5行一列 end-->
            </ul>
			
		 <!-- 获取金融市场下的前n个子栏目的名称，数量由num控制 end-->	
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/pbservice/pb3/201301/W020140120404737348907.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/pbservice/pb3/201211/W020140112261101533535.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->   
        </div>
    </div>
    <div class="sub_menu" id="layer5" onmouseover="showHideLayer('layer5','','show')" onmouseout="showHideLayer('layer5','','hide')">
        <i></i>
        <div class="sub_area clearfix">
			<!-- 获取电子银行下的前n个子栏目的名称，数量由num控制 start-->
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
              
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
		  <!-- 获取电子银行下的前n个子栏目的名称，数量由num控制 end-->	
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/ebanking/201401/W020140617360583006899.jpg" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            	<li class="li_2013"><a title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>" href="<蚪侠_随机URL>"><img src="http://www.bankofchina.com/ebanking/online/201203/W020130317408372503732.gif" width=190 height=60><蚪侠_随机linkkey></a></li>
              
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->
        </div>
    </div>
    <div class="sub_menu" id="layer6" onmouseover="showHideLayer('layer6','','show')" onmouseout="showHideLayer('layer6','','hide')">
        <i></i>
        <div class="sub_area clearfix">
		   <ul class="sub_nav list">
             
				<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
			   
              <!-- 交易所公告 start-->            
            	<li class="li_2013" style="color:#535353">交易所公告（<a href="<蚪侠_随机URL>">H股</a>、<a href="<蚪侠_随机URL>">A股</a><蚪侠_随机linkkey></a></li>
              <!-- 交易所公告 end-->
			  
				<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
			   
				<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
			   
            </ul>
			<!-- 获取投资者关系下的前n个子栏目的名称，数量由num控制 start-->
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
		  <!-- 获取投资者关系下的前n个子栏目的名称，数量由num控制 end-->	
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->
        </div>
    </div>
    <div class="sub_menu" id="layer7" onmouseover="showHideLayer('layer7','','show')" onmouseout="showHideLayer('layer7','','hide')">
        <i></i>
        <div class="sub_area clearfix">
			<!-- 获取关于中行下的前n个子栏目的名称，数量由num控制 start-->
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
			<ul class="sub_nav list">
              <!-- 显示格式为5行一列 start-->
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
            	<li class="li_2013"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
             
              <!-- 显示格式为5行一列 end-->
            </ul>
			
		  <!-- 获取关于中行下的前n个子栏目的名称，数量由num控制 end-->	
		   <!-- 取头条新闻的前2篇文档（标题+附件） start-->
			 <ul class="sub_nav list sub_ad">
			 
            </ul>
			<!-- 取头条新闻的前2篇文档（标题+附件） end-->
        </div>
    </div>
    <!--子菜单end-->
        </div><!--导航-end-->        
    </div>
    <!--header-end-->
	<!--2013-嵌-头部嵌套end-->
    <!--cramb-->
    <div class="cramb"><span><蚪侠_随机linkkey></span><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>&nbsp;&gt;&nbsp;<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div>
  	<!--网银登陆begin-->
	<div class="per_bank_login">
    	<a href="<蚪侠_随机URL>" class="hover_btn"><蚪侠_随机linkkey></a>
        <div class="hover_menu hd">
        	<ul>
        	<li><a href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
                <li><a href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
                <li class="last"><a href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
        	</ul>
        </div>
    </div>
	<!--网银登陆end-->

        
   	<div class="container">
    	<div class="content con_area">
        	 
        	<h2 class="title"><蚪侠_关键词1></h2>
            
		  
           

		   <p class="con_time"><蚪侠_年>-<蚪侠_月>-<蚪侠_日></p>
		  
	          
            <!--分享 打印-->
             <div class="function">
            	<a href="<蚪侠_随机URL>" class="share"><蚪侠_随机linkkey></a>
                <a href="<蚪侠_随机URL>" class="print"><蚪侠_随机linkkey></a>
                <ul class="share_pop hd bdsharebuttonbox" data-tag="share_1">
                    <li><a href="<蚪侠_随机URL>" class="sina" title="<蚪侠_随机linkkey>" onclick="share_to_sina('中国银行服务价目表','');"><蚪侠_随机linkkey></a></li>
                    <li><a href="<蚪侠_随机URL>" class="wb" title="<蚪侠_随机linkkey>" onclick="share_to_tengxun('中国银行服务价目表','');"><蚪侠_随机linkkey></a></li>
                    <li><a href="<蚪侠_随机URL>" class="wx" title="<蚪侠_随机linkkey>" onclick="share_to_renren('中国银行服务价目表','');"><蚪侠_随机linkkey></a></li>
                    <li><a href="<蚪侠_随机URL>" class="qzone" title="<蚪侠_随机linkkey>" onclick="share_to_qzone('中国银行服务价目表','')"><蚪侠_随机linkkey></a></li>
                </ul>
             
            </div>
          
            <div class="sub_con">
<蚪侠_body内容>
<h2 align="center"><蚪侠_关键词1></h2>
<p><strong><蚪侠_随机linkkey></strong></p>
<p><strong><蚪侠_随机linkkey></strong></p>
<p><strong><蚪侠_随机linkkey></strong></p>
<p>　　一、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　二、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p><strong><蚪侠_随机linkkey></strong></p>
<p>　　三、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　四、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　五、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　六、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　七、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　八、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　九、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p><strong><蚪侠_随机linkkey></strong></p>
<p>　　十、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　十一、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　十二、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>　　十三、<a target="_blank" href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></p>
<p>&nbsp;</p> 
              
            
            
			       <ul id="hidden">
				 
				 
			       </ul>
				    
			     <!-- -->
		 </div>
    	</div>
        
		
    <div class="slider">
	
	<div class="box clearfix" id="hidden1">
		<h3 class="title"><蚪侠_关键词1></h3>
		<ul class="list_tg" >
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
		   <li><a href="<蚪侠_随机URL>">个人长城借记卡ATM存款、转账及助农转账汇款业务服务收费优惠公告</a></li>
		 
		   <li><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>
		 
         
		</ul>
			 
	</div>
	<span id="PL_RIGHT_AD"><蚪侠_随机linkkey></span>

</div>

      

    </div><!--main-end-->
    
    
   <div class="footer_2013">
    <div class="footer_phone">
        <p><em>服务热线：</em><span><蚪侠_随机linkkey></span>（大陆地区）；<span><蚪侠_随机linkkey></span> （海外及港澳台地区）    <em class="footer_sp">信用卡热线：</em><span><蚪侠_随机linkkey></span>（大陆地区）； <span><蚪侠_随机linkkey></span>（海外及港澳台地区）</p>
    </div>
    <div class="footer_copy">
    	<div class="footer_area">
        	<p>
			<!--取提示信息栏目前四篇文档-->
				
					<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><i>|</i>
				
					<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><i>|</i>
				
					<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><i>|</i>
				
					<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><i>|</i>
				
            	
                京ICP备10052455号 京公网安备110102002036号 
            </p>
            <p>Copyright&copy; BANK OF CHINA(BOC) All Rights Reserved. </p>
        </div>
    </div>
</div><!--footer-end-->




</div><!--wrapper-end-->



</body>
</html>