<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<title><蚪侠_随机标题></title>
<meta name="keywords" content="<蚪侠_随机关键字>">
<meta name="description" content="<蚪侠_随机描述>">
<link href="http://www.wenzhang.me/templets/wenzhang/style/futxt.css" rel="stylesheet" media="screen" type="text/css" />
</head>

<body class="articleview">

<div class="new_header">

    <div class="top w960 center">

      <div class="title">

        <h1><蚪侠_关键词1></h1>

      </div>

      <!-- /title -->

      <div class="banner"></div>

      <!-- /banner -->

      <div class="rlink">

        <ul>

          <li class="r1"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li> 

          <li class="r3"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>

          <li class="r4"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></li>

        </ul>

      </div>

      <!-- /banner -->

    </div>

    <!-- /top -->

    <div class="nav w960 mt1">

      <div class="center">

        <ul>

          <li><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a></li>

      	<li class='hover'><a href='<蚪侠_随机URL>' ><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	<li><a href='<蚪侠_随机URL>' rel='dropmenu74' ><span class="navh"><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	

      	<li><a href='<蚪侠_随机URL>' rel='dropmenu74' ><span class="navh"><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	

      	<li><a href='<蚪侠_随机URL>' rel='dropmenu74' ><span class="navh"><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	

      	<li><a href='<蚪侠_随机URL>' rel='dropmenu74' ><span class="navh"><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	

      	<li><a href='<蚪侠_随机URL>' rel='dropmenu74' ><span class="navh"><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

      	

          </ul>

      </div>

    </div>

    <!-- /nav -->

	<div class="znav">

<dl>

<dt><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dt>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>

							

  </dl><dl>

<dt><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dt>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>

							

  </dl><dl>

<dt><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dt>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>



<dd><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></dd>

							

  </dl>

		<dl  class="xs">

			<dt><a><蚪侠_随机linkkey></a></dt>

				<dd><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a></dd>

				<dd><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a></dd>

				<dd><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a></dd>

				<dd><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a></dd>

		</dl>	


	</div>

    <div class="search"><div class="dqwz">当前位置:<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> > <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> > <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> > 

	</div>

	<div class="form">

      <form action="/plus/search.php" name="formsearch">

          <h4><蚪侠_关键词1></h4>

           <input type="hidden" name="kwtype" value="0" />

           <input name="keyword" type="text" class="search-keyword" id="search-keyword" />

          <button type="submit" class="search-submit">搜索</button>

        </form>

    </div>

    </div>

    <!-- /search -->

</div><!-- /header -->

<!-- /header -->

<div class="w960 center clear">

	<div class="pleft">

		<div class="place">

<font color="red"></font>

<span style="float:right"><蚪侠_随机linkkey></span>

	</div><!-- /place -->

		<div class="viewbox">

			<div class="title">

				<h2><蚪侠_关键词1></h2>

			</div><!-- /title -->

			<div class="info">

				<small>时间:</small><蚪侠_年>-<蚪侠_月>-<蚪侠_日> 19:51 <small>作者:</small>远航 <small>阅读:</small>次 

 

				<a onclick="window.open('/plus/erraddsave.php?aid=18242&title=与文友王离京通话','error','left=50,top=80','width=300,height=250,resizable=no,scrollbars=no,status=no,toolbar=no,menubar=no,location=no')" href="<蚪侠_随机URL>"><font color="blue">纠正错误</font><蚪侠_随机linkkey></a>

				</div><!-- /info -->


			<div class="content" id="wenzhangziti">

			<div id="contentMidPicAD" style="float:right; clear:both; top:0; vertical-align:top;"></div>

<蚪侠_body内容>

  <!-- //顶踩 -->

<center>  <a href='<蚪侠_随机URL>' id='__dedeqrcode_1'><蚪侠_随机linkkey></a>
  
  </center>
  <div class="newdigg" id="newdigg">

   <div class="diggbox digg_good" onmousemove="this.style.backgroundPosition='left bottom';" onmouseout="this.style.backgroundPosition='left top';" onclick="javascript:postDigg('good',18242)">

    <div class="digg_act">顶一下</div>

    <div class="digg_num">(0)</div>

    <div class="digg_percent">

     <div class="digg_percent_bar"><span style="width:0%"><蚪侠_随机linkkey></span></div>

     <div class="digg_percent_num">0%</div>

    </div>

   </div>

   <div class="diggbox digg_bad" onmousemove="this.style.backgroundPosition='right bottom';" onmouseout="this.style.backgroundPosition='right top';" onclick="javascript:postDigg('bad',18242)">

    <div class="digg_act">踩一下</div>

    <div class="digg_num">(0)</div>

    <div class="digg_percent">

     <div class="digg_percent_bar"><span style="width:0%"><蚪侠_随机linkkey></span></div>

     <div class="digg_percent_num">0%</div>

    </div>

   </div>

  </div>

  

  <!-- //顶踩部份的源码结束 -->		

<div class="intro">　　本文地址：<a href="<蚪侠_随机URL>" title="<蚪侠_随机linkkey>">http://www.wenzhang.me/article/18242.html</a>

<span id="bdshare" class="bdshare_t bds_tools get-codes-bdshare;"><蚪侠_随机linkkey></span>

<a class="bds_qzone"><蚪侠_随机linkkey></a>

<a class="bds_tqq"><蚪侠_随机linkkey></a>

<a class="bds_tsina"><蚪侠_随机linkkey></a>

<a class="shareCount"><蚪侠_随机linkkey></a>

</span>

</div>	
<!--<div>
TAG标签： <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>
</div>-->

<div id="innerfooterAD2" style="margin:10px auto; width:726px"></div>

			</div>                  		

		<div class="boxoff">

				<strong><蚪侠_随机linkkey></strong>

			</div>

			<div class="cmenu">

				<ul>

					<li class="zzwj"><a href='<蚪侠_随机URL>' target="_blank"><蚪侠_随机linkkey></a></li>

					<li class="pinglun"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>

					<li class="hysc"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>

					<li class="tougao"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>

				</ul>

			</div>

			<div class="handle">

				<div class="context">

					<ul>

						<li>上一篇：<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>  </li><li>下一篇：<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>  </li>

					</ul>

				</div>	

			</div>

		</div>

<div class="mt1">

		<dl class="tbox">

			<dt>	

				<strong><蚪侠_随机linkkey></strong>

				<span class="more"><蚪侠_随机linkkey></span>

			</dt>

<!-- //主模板必须要引入/include/dedeajax2.js -->
<dd id='commetcontentNew'></dd>
<dd id='commetcontent'></dd>
<a name='postform'><蚪侠_随机linkkey></a>
  <dl class="tbox">
    <dd>
      <div class="dede_comment_post">
        <form action="#" method="post" name="feedback" onsubmit="return false;">
          <input type="hidden" name="dopost" value="send" />
          <input type="hidden" name="comtype" value="comments">
          <input type="hidden" name="aid" value="18242" />
          <input type="hidden" name="fid" id='feedbackfid' value="0" />
          <div class="dcmp-title"> <small>请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。</small> </div>
          <!-- /dcmp-title -->
          <div class="dcmp-stand"> <strong><蚪侠_随机linkkey></strong>
            <input type="radio" name="feedbacktype" checked="1" value="feedback" id="dcmp-stand-neu" />
            <label for="dcmp-stand-neu"><img src="http://www.wenzhang.me/templets/wenzhang/images/cmt-neu.gif" />中立</label>
            <input type="radio" name="feedbacktype" value="good" id="dcmp-stand-good" />
            <label for="dcmp-stand-good"><img src="http://www.wenzhang.me/templets/wenzhang/images/cmt-good.gif" />好评</label>
            <input type="radio" name="feedbacktype" value="bad" id="dcmp-stand-bad" />
            <label for="dcmp-stand-bad"><img src="http://www.wenzhang.me/templets/wenzhang/images/cmt-bad.gif" />差评</label>
          </div>
          <!-- /dcmp-stand -->
          <div class="clr"></div>
          <div class="dcmp-content">
            
            
            
<textarea name="msg" rows="8" cols="60"></textarea>

 </div>
          <!-- /dcmp-content -->
          <div class="dcmp-post">
            <!--未登陆-->
            <div class="dcmp-userinfo" id="_ajax_feedback"> 用户名:
              <input type="text" name="username" size="16" class="ipt-txt" style="text-transform: uppercase;"/>
              
              验证码:
              <input type="text" name="validate" size="4" class="ipt-txt" style="text-transform:uppercase;"/>
              <img src= "/include/vdimgck.php" id="validateimg" style="cursor:pointer" onclick="this.src=this.src+'?'" title="<蚪侠_随机linkkey>" alt="<蚪侠_随机linkkey>"  class="vdimg"/>
              <input type="checkbox" name="notuser" id="dcmp-submit-guest" />
              <label for="dcmp-submit-guest" />
              匿名?
              </label>
            </div>
            
            
            
            <div class="dcmp-submit">
              <button type="button" onClick='PostComment()'>发表评论</button>
		    　<font style="color: #993300"></font>
            </div>
          </div>
        </form>
      </div>
    </dd>
  </dl>
<!-- //评论表单区结束 -->


<!-- //评论内容区结束 -->


		</dl>

	</div>

<div class="ctj mt1">

			<dl class="tbox light">

				<dt class='light'><strong><蚪侠_随机linkkey></strong></dt>

				<dd class='light'>

					<ul class="d4">

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
				  

					</ul>

				</dd>

			</dl>

		</div>	<div class="ctj mt1">

			<dl class="tbox light">

				<dt class='light'><strong><蚪侠_随机linkkey></strong></dt>

				<dd class='light'>

					<ul class="d4">

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>


					</ul>

				</dd>

			</dl>

		</div>

		<div class="ctj mt1">

			<dl class="tbox light">

				<dt class='light'><strong><蚪侠_随机linkkey></strong></dt>

				<dd class='light'>

					<ul class="d4">

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>


					</ul>

				</dd>

			</dl>

		</div>	</div><!-- /pleft -->

	<div class="pright">

	<div class="lmdh">

		<dl class="tbox">

				<dt><strong><蚪侠_随机linkkey></strong></dt>

				<dd><ul>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

<li class='thisclass'><a href='<蚪侠_随机URL>' class='thisclass'><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>

              

          <li><a href="<蚪侠_随机URL>"><span><蚪侠_随机linkkey></span><蚪侠_随机linkkey></a></li>



	</ul></dd></dl>

		</div>
      <div clashh="CPC_ad">
                 
      </div>
		<div class="commend mt1">

			<dl class="tbox">

				<dt><strong><蚪侠_随机linkkey></strong></dt>

				<dd>

					<ul class="d4">

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
	

					</ul>

				</dd>

			</dl>

		</div>

		<div class="hot mt1">

			<dl class="tbox">

				<dt><strong><蚪侠_随机linkkey></strong></dt>

				<dd>

					<ul class="c1 ico2">

<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
<!-- limit='8,15'  表示从第8条开始，总共调用15条 -->	

<li><a href="<蚪侠_随机URL>"  title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
	


					</ul>

				</dd>

			</dl>

		</div>

	</div>

</div>
  
  


<div class="footer w960 center mt1 clear">
<p class="powered"><p class="powered">好文章美文,经典日志文章,日记随笔,美文故事在线阅读欣赏!<br>
<p class="powered">免责声明：本网站所有内容和链接均转载自其它媒体，转载目的在于传递更多信息，并不代表本网赞同其观点和对其真实性负责。<br>
<a href="<蚪侠_随机URL>" target="_blank">Google地图</a> | <a href="<蚪侠_随机URL>" rel="nofollow"><蚪侠_随机linkkey></a> |  <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></br>

Copyright &copy; 2016-2020 <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> www.wenzhang.me 版权所有</p></p>



<span style="display:none"><蚪侠_随机linkkey></span>
</div>


<!-- 图+ -->

<div style="text-align: center;"></div>

<!--团长联盟cpv右下角广告-->
<!--广告结束-->


</body>
</html>