<!DOCTYPE html>
<html>
<head>
<title><蚪侠_随机标题></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="<蚪侠_随机关键字>" />
<meta name="Description" content="<蚪侠_随机描述>" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="format-detection" content="telephone=no">
<link href="<蚪侠_随机URL>" rel="shortcut icon">
<link type="text/css" rel="stylesheet" href="http://r2d2.takungpao.com/cn/common/css/head.css" />
<link type="text/css" rel="stylesheet" href="http://r2d2.takungpao.com/cn/common/css/content.css" />
</head>
<body>
<!--ad_1200_100-->
<div class="ad_1200_100 ad-wrapper" id="ad1"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
<!--/ad_1200_100-->
<div class="header_wrap">
    <div class="header">
        <div class="head clearfix">
            <h1 class="logo"><蚪侠_关键词1></h1>
            <div class="epaper"><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><img src="http://r2d2.takungpao.com/cn/common/images/epaper.jpg" alt="<蚪侠_随机linkkey>" /><蚪侠_随机linkkey></a></div>
            <div class="search"><a href="<蚪侠_随机URL>" target="_blank" class="btn" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></div>
            <ul class="date">
            	<li>
                    
                </li>
            	<li class="link">
                	<a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
                    <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a><span><蚪侠_随机linkkey></span>
                    <em class="setWebLangue"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></em>
                </li>
            </ul>
            
            <ul class="menu_mobile">
                <li class="btn_open_menu"></li>
                <li class="btn_close_menu"></li>
                <li class="paper"><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
            </ul>
        </div>
        <!--导航20-->
        <div class="nav_wrap">
            <ul class="nav_mobile clearfix">
                <li><a href="<蚪侠_随机URL>" class="login" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
                <li><a href="<蚪侠_随机URL>" target="_blank" class="search" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
                <li class="setWebLangue"><a href="<蚪侠_随机URL>" target="_blank" class="fanti" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
            </ul>
            <ul class="nav_list clearfix">
                <li class="item hide"><a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
                    <!--新闻-->
                    <div class="subnav">
                        <ul class="list clearfix">
                       		<li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li><!-- <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>-->
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li><!--<li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>-->
                        </ul>
                    </div>
                    <!--/新闻-->
                </li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
                    <!--评论-->
                    <div class="subnav">
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
							<li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <!--<li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>-->
                        </ul>
                    </div>
                    <!--/评论-->
                </li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>      
                    <!--影像-->
                    <div class="subnav">
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                           <!-- <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>-->
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                           <!-- <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>-->
                           <!-- <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>-->
                            <!--<li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>-->
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <!--<li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank">H5</a></li>-->
                        </ul>
                    </div>
                    <!--/影像-->
                </li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>    
                    <!--财经-->
                    <div class="subnav">
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                        </ul>
                    </div>
                    <!--/财经-->
                </li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>      
                    <!--文化-->
                    <div class="subnav">
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                        </ul>
                    </div>
                    <!--/文化-->
                </li>
                <li class="item">
                    <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>                   
                    <!--生活-->
                    <div class="subnav"> 
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank">3C科技</a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            
                        </ul>
                    </div>
                    <!--/生活-->
                </li>
                <li class="item">
                <!--<a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>-->
                <a href="<蚪侠_随机URL>" target="_blank" class="link" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
                <!--专题-->
                   <!-- <div class="subnav"> 
                        <ul class="list clearfix">
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                            <li class="line">/</li>
                            <li><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></li>
                        </ul>
                    </div>-->
                <!--/专题-->
                </li>
                <li class="mobile_more">更多</li>
            	<li class="mobile_slideup">收起</li>
            </ul>
        </div>
        <!--/导航-->
    </div>
</div>
<!--/头部--><div class="article_path">
	<div class="path">
	<a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> > <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> > <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a> > 正文	</div>
</div>
<!--包裹开始-->
<div class="wrapper clearfix">
	<!--左侧-->
    <div class="wrap_left">
    	<h2 class="tkp_con_title"><蚪侠_关键词1></h2>
        <div class="tkp_con_info">
            <div class="tkp_con_author"><span><蚪侠_随机linkkey></span><span><蚪侠_随机linkkey></span> 作者：章萝兰</div>
            <dl class="tkp_con_fontsize">
            	<dt>字号</dt>
                <dd onClick="$('.tkp_content,.tkp_con_author').addClass('zoom')">放大</dd>
                <dd onClick="$('.tkp_content,.tkp_con_author').removeClass('zoom')">标准</dd>
            </dl>
        </div>
        <div class="tkp_con_share bdsharebuttonbox clearfix">
        	<span><蚪侠_随机linkkey></span>
            <a href="<蚪侠_随机URL>" class="ico_weixin" data-cmd="weixin" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a> 
            <a href="<蚪侠_随机URL>" class="ico_weibo" data-cmd="tsina" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
            <a href="<蚪侠_随机URL>" class="ico_facebook" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
            <a href="<蚪侠_随机URL>" class="ico_twitter" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a>
        </div>
        <div class="tkp_content">
<蚪侠_body内容>
		</div>
                <div class="tkp_con_editor">责任编辑：胡明明 </div>                <div class="ad_660_75 ad-wrapper" id="ad2"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
        
        <!--相关内容-->
        <h3 class="h3_title"><蚪侠_关键词1></h3>
        <div class="reading_xiangguan">
            <div class="list clearfix">
            
                                                
            </div>
        </div>
		<!--/相关内容-->
        
		<div id="tkpcomment"></div>
        
        
        <div class="ad_660_75 ad-wrapper" id="ad3"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
    </div>
    <!--/左侧-->

	<!--右侧-->
    <div class="wrap_right">
		<div class="ad_360_200 ad-wrapper" id="ad4"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
        

        <!--点击排行-->
        <h3 class="h3_title"><蚪侠_关键词1></h3>
        <div class="paihang">
        	<ol class="list"><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>">毛孟静疑策划FCC播“独”骚 其夫两度任该会主席</a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li><li><a href="<蚪侠_随机URL>" target="_blank" title="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></li></ol>
        </div>
        <!--/点击排行-->
        <div class="ad_360_200 ad-wrapper" id="ad5"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
        <div class="ad_360_200 ad-wrapper" id="ad6"><a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a></div>
    </div>
    <!--/右侧-->
</div>
<!--包裹结束-->
<!--底部-->
<div class="copyright_wrap">
	<div class="copyright_top">
		<a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
        <a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
    </div>
	<div class="copyright_bot">
    	<span><蚪侠_随机linkkey></span>
    	<a href="<蚪侠_随机URL>" target="_blank">京ICP备13049349号</a>
    	<a href="<蚪侠_随机URL>" target="_blank"><蚪侠_随机linkkey></a>
    </div>
</div>
<!--/底部-->
<div id="tipback" title="<蚪侠_随机linkkey>"></div>






</body>
</html>