<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title><蚪侠_随机标题></title>
<meta name="keywords" content="<蚪侠_随机关键字>">
<meta name="description" content="<蚪侠_随机描述>">
<link href="http://www.duwenzhang.com/templets/img/default.css" rel="stylesheet" type="text/css">
</head>
<body>
<center>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="tbspan">
<tr> 
<td width="190" height="68" align="center"><a href='<蚪侠_随机URL>' target='_blank'><img src="http://www.duwenzhang.com/templets/img/logo_tg.gif" width="178" height="53" border='0' alt="<蚪侠_随机linkkey>"><蚪侠_随机linkkey></a></td>
<td width="20" align="center"></td>
<td width="486"><div id="mad1"></div></td>
<td width="190"></td>
</tr>
</table>
<TABLE width="900" cellSpacing=0 cellPadding=0 border=0>
  <TR>
    <TD>
<div><div class="book_left_commend_l"></div><div class="book_left_commend_ct"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div><div class="book_left_commend_r"></div></div>
<div class="book_left_commend_t"><div class="book_right_new_l"></div><div class="book_right_new_ct"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></div><div class="book_right_new_r"></div></div>
</TD>
  </TR>
</TABLE>
<TABLE width="900" cellSpacing=0 cellPadding=0 border=0 class="tbspan">
  <TR>
    <TD width="7"><IMG src="http://www.duwenzhang.com/img/redleftt.png" width="7" height="7"></TD>
    <TD class="sprite-redhort"></TD>
    <TD width="7" class="sprite-redlt"></TD>
  </TR>
  <TR>
    <TD class="sprite-redvert0111"></TD>
    <TD class="daohang"><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>  | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 | <a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></TD>
    <TD class="sprite-redvert2"></TD>
  </TR>
  <TR>
    <TD class="sprite-redleftb"></TD>
    <TD class="sprite-redhorit222"></TD>
    <TD><IMG src="http://www.duwenzhang.com/img/redrt.png" width="7" height="7"></TD>
  </TR>
</TABLE>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="tbspan">
<tr> 
<td height="476" valign="top">
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr> 
<td width="7"><img src="http://www.duwenzhang.com/img/bluel.png" width="7" height="25"></td>
<td class="pindao sprite-bluec">当前位置：<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>><a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>>文章内容</td>
<td width="90" class="pindao sprite-bluec"><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a></td>
<td width="7"><img src="http://www.duwenzhang.com/img/bluer.png" width="7" height="25"></td>
</tr>
</table>
<TABLE width="100%" height="412" border=0 cellPadding=0 cellSpacing=0>
  <TR>
    <TD width="7"><img src="http://www.duwenzhang.com/img/blueleft2.png" width="7" height="8"></TD>
    <TD class="sprite-bluetop2"></TD>
    <TD width="7" class="sprite-bluerigh2"></TD>
  </TR>
  <TR>
    <TD class="sprite-bluelef2"></TD>
    <TD height="220" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="99%" height="30" align="center" style="padding-top:5px"><h1><蚪侠_关键词1></h1></td>
</tr>
<tr> 
<td height="25" align="center" class="author"> 
作者：<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a> 
来源： 时间：<蚪侠_年>-<蚪侠_月>-<蚪侠_日> 17:27 阅读：
</td></tr> <tr> <td height="200" valign="top" ><table width="100%" cellpadding="0" style="margin-top:8px" cellspacing="0" border="0"> <tr> <td height="52" rowspan="2" width="6"></td> <td class="article 0"><div align="left" id="gad1"></div><br><div id="wenzhangziti" class="article 1076">
<蚪侠_body内容>
</div></td>
</tr>
<tr>
  <td></td>
</tr>
<tr align="center"> 
 <td height="40" colspan="2"  class="prenext"><div class="endad" id="gad4"><br></div>上一篇：<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a>   &nbsp; 下一篇：<a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 
 </td>
</tr>
</table></td>
</tr>
<tr> 
<td height="28" align="center" style="border-top:1px dashed #0581E1"> 
<table width="100%" border="0" cellpadding="1" cellspacing="1">
<form action="http://www.duwenzhang.com/plus/feedback.php?arcID=1076&action=send" method="post" name="feedback">
<input type="hidden" name="action" value="send" />
<input type="hidden" name="comtype" value="comments">
<input type="hidden" name="aid" value="1076" />
<input type="hidden" name="isconfirm" value="yes" />
<input type="hidden" name="feedbacktype" value="good" id="dcmp-stand-good" />
<tr> 
<td style="color:#40388A"><div class="dcmp-userinfo" id="_ajax_feedback">
用户名:<input type="text" name="username" size="9" class="ipt-txt" />(<a href="<蚪侠_随机URL>" target="_blank"><u>新注册</u><蚪侠_随机linkkey></a>) 密码:
<input name="pwd" type="password" size="7" class="ipt-txt" />
<input type="checkbox" name="notuser" id="dcmp-submit-guest" /><label for="dcmp-submit-guest" class="niming">匿名发表 </label><button type="button" name="fabiao1" onClick='checkSubmit()' style='width:70'>发表感言</button>
</div>
</td>
<td style="color:#40388A">[<a href="<蚪侠_随机URL>" target="_blank"><img src="http://www.duwenzhang.com/plus/img/file_move.gif" width="17" height="18" border="0"><u>收藏本文</u><蚪侠_随机linkkey></a>]
</td>
</tr>
<tr> 
<td colspan="2" style="color:#40388A">发表读后感：</td>
</tr>
<tr> 
<td colspan="2"><textarea name="msg" cols="75" rows="3" id="msg" style="width:98%"></textarea></td>
</tr>
</form>
</table></td>
</tr>
<tr> 
<td valign="top"> <table width="100%" border="0" cellpadding="1" cellspacing="1">

<tr> 
<td height="20" colspan="2" bgcolor="#FFFFFF">
	
</td>
</tr>
</table></td>
</tr>
</table>
    </TD>
    <TD class="sprite-blueveru2"></TD>
  </TR>
  <TR>
    <TD class="sprite-bluelefu2"></TD>
    <TD class="sprite-bluehorj2"></TD>
    <TD><img src="http://www.duwenzhang.com/img/bluerigi2.png" width="7" height="7"></TD>
  </TR>
</TABLE>
</td>
<td width="224" align="right" valign="top"> 
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="tbspan">
<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="7"><img src="http://www.duwenzhang.com/img/greenl.png" width="7" height="25"></td>
<td class="green sprite-greenc">本栏随机推荐文章</td>
<td width="7"><img src="http://www.duwenzhang.com/img/greenr.png" width="7" height="25"></td>
</tr>
</table></td>
</tr>
<tr> 
<td>
<TABLE width="100%" border=0 cellPadding=0 cellSpacing=0>
  <TR>
    <TD width="7"><img src="http://www.duwenzhang.com/img/greenlef.png" width="7" height="8"></TD>
    <TD class="sprite-greenhor111"></TD>
    <TD width="7" class="sprite-greenrig"></TD>
  </TR>
  <TR>
    <TD class="sprite-greenveslef"></TD>
    <TD height="50" valign="top">·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>
</TD>
    <TD class="sprite-greenves"></TD>
  </TR>
  <TR>
    <TD class="sprite-greenleg"></TD>
    <TD class="sprite-greenhos"></TD>
    <TD><img src="http://www.duwenzhang.com/img/greenrih.png" width="7" height="7"></TD>
  </TR>
</TABLE></td>
</tr>
</table>
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="tbspan">
<tr> 
<td>
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr> 
<td width="7"><img src="http://www.duwenzhang.com/img/orangel.png" width="7" height="25"></td>
<td class="orange sprite-orangec">相关短文</td>
<td width="7"><img src="http://www.duwenzhang.com/img/oranger.png" width="7" height="25"></td>
</tr>
</table></td>
</tr>
<tr> 
<td>
<TABLE width="100%" border=0 cellPadding=0 cellSpacing=0>
  <TR>
    <TD width="7"><img src="http://www.duwenzhang.com/img/orangetl.png" width="7" height="8"></TD>
    <TD class="sprite-orangetop"></TD>
    <TD width="7" class="sprite-orangetr"></TD>
  </TR>
  <TR>
    <TD class="sprite-orangelt"></TD>
    <TD height="50" valign="top">
    ·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>

·<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><br/>


    </TD>
    <TD class="sprite-orangevh"></TD>
  </TR>
  <TR>
    <TD class="sprite-orangelh"></TD>
    <TD class="sprite-orangeht"></TD>
    <TD><img src="http://www.duwenzhang.com/img/orangerl.png" width="7" height="7"></TD>
  </TR>
</TABLE><BR>
<TABLE width="98%" cellSpacing=0 cellPadding=0 border=0 class="tbspan">
          <TR>
            <TD width="7"><IMG src="http://www.duwenzhang.com/img/yellowlt.png" width="7" height="7"></TD>
            <TD class="sprite-yellowhorit"></TD>
            <TD width="7" class="sprite-yellowrt"></TD>
          </TR>
          <TR>
            <TD class="sprite-yellowlef"></TD>
            <TD align="center"><div id="baiduad"></div></TD>
            <TD class="sprite-yellowvf"></TD>
          </TR>
          <TR>
            <TD class="sprite-yellowlf"></TD>
            <TD class="sprite-yellowbt"></TD>
            <TD><IMG src="http://www.duwenzhang.com/img/yellowrj.png" width="7" height="7"></TD>
          </TR>
</TABLE></td>
</tr>
</table>
</td>
</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#F5F5F5" class="tbspan" style="margin-top:3px">
<tr> 
<td height="30" align="center" valign="top">Copyright &copy; 2007-2014 <a href='<蚪侠_随机URL>'><蚪侠_随机linkkey></a> 版权所有.<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>,<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a><a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>,<a href="<蚪侠_随机URL>"><蚪侠_随机linkkey></a>故事在线阅读</td>
<td></td>
<td>


</td>
<td></td>
<td width="70" valign="top"></td>
</tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" class="tbspan">
<tr><td height="6"></td></tr>
</table>
</center>
</body>
</html>
